:host {
    ion-content {
        --background: linear-gradient(135deg, var(--ion-color-tertiary-shade), var(--ion-color-primary-tint));
    }
}


    .listcor {
        background: linear-gradient(0deg, var(--ion-color-tertiary-shade), var(--ion-color-primary-tint));
    }

    --color-checked{
        color: black;
    }

  .danger {
      color: red;
  }










